@import 'strawberry/core';

@import 'theme';

@include new-component(
  $name: 'my-button', 
  $selector: '.my-button', 
  $declarations: (
    'background-color': #be1931,
    'border': none,
    'border-radius': 0,
    'color': white,
    'padding': 10px 15px
    )
  ) { 

  @include dynamic {
    background-color: get('background-color');
    border: get('border');
    border-radius: get('border-radius');
    color: get('color');
    padding: get('padding');
  }

  @include static {
    cursor: pointer;
  }

}